<main>
    <div class="plan">
        <div class="salon">
            <div
                class="row"
                *ngFor="let row of plan.rows; let rowIndex = index"
            >
                <div
                    #seatEl
                    class="seat"
                    id="seat-{{ rowIndex }}-{{ seatIndex }}"
                    *ngFor="let seat of row.seats; let seatIndex = index"
                    [class.disabled-seat]="seat.disabled"
                    [class.taken-seat]="seat.taken"
                    [class.reserved-seat]="seat.reserved"
                    (click)="checkSeat(seatEl, rowIndex, seatIndex)"
                >
                    <img src="assets/icon/seat-2.svg" alt="" />
                </div>
            </div>
        </div>
    </div>

    <div class="mt">
        <button (click)="selectRandom()">select random</button>
    </div>
</main>
