.salon-list {
    height: 100vh;
    background: #242639;
    display: flex;
    align-items: center;
    justify-content: center;

    &__container {
        max-width: 50%;
        background: #fff;
        border-radius: 6px;
        display: flex;
        align-items: center;
        flex-flow: row-reverse wrap;
        justify-content: space-between;
        padding: 0.6rem;
    }

    &__link {
        display: inline-block;
        padding: 0.6rem;
        margin: 0.31rem 0;
        width: calc((100% - 50px) / 2);
        color: #fff;
        background: #242639;
        text-align: center;
        border-radius: 4px;
        font-size: 1.2em;
        font-weight: bold;
    }
}
