div {
    width: 100%;
    height: 100vh;
    background: #242639;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    section {
        max-width: 50%;
        background: #fff;
        border-radius: 4px;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 10px;

        span {
            padding: 10px;
            margin: 5px 0;
            width: 45%;
            color: #fff;
            background: #242639;
            text-align: center;
            border-radius: 4px;
            font-size: 1.2em;
            font-weight: bold;
        }
    }
}